# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# Git
.git/
.gitignore

# VS Code
.vscode/

# Environment Variables
.env

# Uploads
uploads/

# OS Files
.DS_Store
Thumbs.db

# Testing / Cache
.pytest_cache/
.mypy_cache/

# Docker
docker-compose.override.yml